version: '3.6'   # Docker Engine release 18.02.0+

services:
  postgres:
    image: postgres
    restart: always
    environment:
      - POSTGRES_DB=petni
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data: